
.flex-container {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Set alignment of nav menu */
.navitems a {
    float: right;
    display: block;
    text-align: center;
    padding: 20px 24px;
    font-size: 18px;
    text-decoration: none;
}

/* Change color on hover */
.navitems a:hover {
    text-decoration: underline;
    color: black;
}

/* Add color to active tab/link */
.navitems a.active {
    color: red;
}

img {
    position: relative;
    left: 0px;
    padding: 0px;
  }

figcaption {
    font-style: italic;
    padding: 2px;
    text-align: right;
}
input {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 10px;
}
input:focus {
    border: 3px solid #555;
}
.textarea {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    resize: none;
}
.submit {
    transition-duration: 0.4s;
    width: 10%;
  }
  
  .submit:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
.bigspace {
    padding-bottom: 100px;
  }